@media screen and (max-width: 1680px) {
    body{
    }

}

@media screen and (max-width: 1300px) {
    body{
        background-size: cover;
    }

}

@media screen and (min-width: 736px) {
    body{
        background-size: cover;
    }
    .lists{
        display: flex;
        flex-direction: column;
    }
    .lists li{
        width: 0 auto;
        padding-top: 3em;
    }
    .lists li:nth-child(1), .lists li:nth-child(3) {
    margin:0 0 0 auto;
    
}


@media screen and (min-width: 480px) {

		html, body {
			min-width: 320px;
		}
    .lists{
        flex-direction: column;
    }
    .lists{
        display: flex;
        flex-direction: column;
    }
    .lists li{
        width: 0 auto;
        padding-top: 3em;
    }
    .lists li:nth-child(1), .lists li:nth-child(3) {
    margin:0 0 0 auto;

}
