@media screen and (max-width: 1680px) {
    body{
    }

}

@media screen and (max-width: 1300px) {
    body{
        background-size: cover;
    }

}

@media screen and (max-width: 736px) {
    body{
        background-size: cover;
    }

    header{
        justify-content: center;
    }
    .lists li{
        width: auto;
        padding-top: 5em;
    }
    
}


@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

}
